# Virtual environment
venv/

# Synced notes
synced-notes/

# ChromaDB
chromadb_db/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.coverage
.venv
.eggs
.DS_Store
.env
.notes_analyzer/